/*
Theme: Curl Landing
Author: STARTSITE - Andrey Galkin
Version: 1.1
*/


/* --------------------- IMPORT FILES --------------------- */

@import url(../fonts/DrukCyr-Medium/style.css);
@import url(../fonts/Stolzl/stylesheet.css);


/* --------------------- ROOT --------------------- */

:root {
    --color-1: #685BC7;
    --color-2: #FBE122;
    --color-3: #FF0000;
    --color-4: #C6F45C;
    --font-main: 'Stolzl Book', sans-serif;
    --font-title: 'Druk Cyr', sans-serif;

    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #c4c8cb;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--font-main);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #000;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255,255,255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0,0,0;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33,37,41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233,236,239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33,37,41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248,249,250;
    --bs-heading-color: inherit;
    --bs-link-color: #685bc7;
    --bs-link-color-rgb: 104, 91, 199;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #000;
    --bs-link-hover-color-rgb: 0,0,0;
    --bs-code-color: #d63384;
    --bs-highlight-color: #212529;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
    --bs-form-valid-color: #198754;
    --bs-form-valid-border-color: #198754;
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545;
}

/* --------------------- BASE STYLES --------------------- */

html {
    scroll-behavior: smooth;
}

/* --------------------- TYPOGRAPHY --------------------- */

b, strong {
    font-family: 'Stolzl', sans-serif;
    font-weight: 700;
}

/* --------------------- LINKS --------------------- */

a {
    color: var(--bs-link-color);
    text-decoration: var(--bs-link-decoration);
    transition: all 0.3s ease;
}

a:hover {
    --bs-link-color: var(--bs-link-hover-color);
}

/* --------------------- FORMS --------------------- */

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

:focus,
:active {
    outline: none;
}

textarea {
    overflow: auto;
}

.form-control,
.form-select {
    padding: 17px 17px 19px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
}

.form-control::placeholder {
    color: #000;
    opacity: .2;
}

.form-label {
    font-size: 12px;
}

.form-check-label {
    font-size: 12px;
}

.form-check-input {
    width: 18px;
    height: 18px;
    border: 3px solid transparent;
}

.form-check-input[type=checkbox] {
    border-radius: 50%;
}

.form-check-input:checked {
    background-color: #000;
    border-color: #fff;
}

.form-check-input:checked[type=checkbox] {
    background-image: none;
}

/* --------------------- BUTTONS --------------------- */

.btn {
    --bs-btn-padding-x: 40px;
    --bs-btn-padding-y: 20px;
    --bs-btn-font-family: 'Stolzl', sans-serif;
    --bs-btn-font-size: 14px;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    transition: all .15s ease-in-out;
}

.btn-1 {
    --bs-btn-color: #000;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #000;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ccc;
    --bs-btn-disabled-border-color: #000;
    box-shadow: -7px 7px var(--color-2);
    transform: translate(7px, -7px);
    width: 100%;
}

.btn-1:hover {
    box-shadow: none;
    transform: translate(0);
}

.btn-2 {
    --bs-btn-padding-x: 26px;
    --bs-btn-padding-y: 15px;
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--color-1);
    --bs-btn-border-color: var(--color-1);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-1);
    --bs-btn-hover-border-color: var(--color-1);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-1);
    --bs-btn-active-border-color: var(--color-1);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--color-1);
    --bs-btn-disabled-border-color: var(--color-1);
    --bs-btn-border-radius: 10px;
}

.btn .svg-arrow {
    display: inline-block;
    transform: translateX(10px);
    transition: all .15s ease-in-out;
    transition-delay: .1s;
}

.btn:hover .svg-arrow {
    transform: translateX(20px);
}

.btn-1 .svg-arrow::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='7' viewBox='0 0 27 7' fill='none'%3E%3Cpath d='M26.4721 3.5L21.4721 0.61325L21.4721 6.38675L26.4721 3.5ZM-4.37114e-08 4L21.9721 4L21.9721 3L4.37114e-08 3L-4.37114e-08 4Z' fill='black'/%3E%3C/svg%3E");
}

.btn-2 .svg-arrow::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='7' viewBox='0 0 28 7' fill='none'%3E%3Cpath d='M27.0394 3.43921L22.0394 0.552459L22.0394 6.32596L27.0394 3.43921ZM0.56723 3.93921L22.5394 3.93921L22.5394 2.93921L0.56723 2.93921L0.56723 3.93921Z' fill='white'/%3E%3C/svg%3E");
}

@media (min-width: 992px) {

    .btn {
        --bs-btn-font-size: 18px;
    }

    .btn-1 {
        padding: 21px 80px;
        font-size: 18px;
        width: auto;
    }

    .btn-2 {
        --bs-btn-padding-x: 50px;
        --bs-btn-padding-y: 18px;
        font-size: 18px;
    }

}

/* --------------------- ANIMATIONS --------------------- */

.hover-opacity {
    opacity: 1;
}

.hover-opacity:hover {
    opacity: .65;
}

/* --------------------- HEADER --------------------- */

.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 28px 10px;
    z-index: 100;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar > .container {
    flex-wrap: nowrap;
    align-items: start;
}

.site-brand {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.site-logo {
    flex-shrink: 0;
}

.site-title {
    color: #000;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.1%;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 12px;
}

@media (min-width: 992px) {

    .header {
        padding: 28px 0;
    }

    .site-brand {
        flex-direction: row;
        gap: 18px;
    }
}

@media (min-width: 1200px) {

    .header .container {
        max-width: 1185px;
    }
}

/* --------------------- FOOTER --------------------- */

.footer {
    padding: 30px 0;
    color: #fff;
    background-color: #0B0B0B;
}

.widget-footer {
    margin-bottom: 8px;
}

.widget-footer:last-child {
    margin-bottom: 0;
}

.widget-footer .site-brand {
    flex-direction: row;
    gap: 18px;
}

.widget-footer .site-title {
    color: #fff;
}

.widget-footer .phone-link {
    --bs-link-color: #fff;
    --bs-link-decoration: none;
    --bs-link-hover-color: #685bc7;
}

.widget-footer .phone-link .widget-title {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 149.1%;
    margin-bottom: 0;
}

.widget-footer .phone-link a {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 149.1%;
}

.widget-footer .policy-link {
    --bs-link-color: #FFEB56;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #685bc7;
}

.widget-footer .policy-link a {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 149.1%;
}

.widget-footer .developer-link {
    --bs-link-color: #fff;
    --bs-link-decoration: none;
    --bs-link-hover-color: #685bc7;
}

.widget-footer .developer-link a {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 149.1%;
}

@media (min-width: 992px) {

    .widget-footer .phone-link,
    .widget-footer .policy-link {
        text-align: center;
    }

    .widget-footer .social-links {
        justify-content: flex-end;
    }

    .widget-footer .developer-link {
        text-align: right;
    }
}

@media (min-width: 1200px) {

    .footer .container {
        max-width: 1185px;
    }
}

/* --------------------- Modals --------------------- */

.modal {
    --bs-modal-margin: 14px;
    --bs-modal-border-width: 0;
    --bs-modal-border-radius: 10px;
}

.modal .btn-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.4);
    box-shadow: none;
    z-index: 1;
}

.modal-body {
    padding: 16px;
}

.modal-headline {
    margin-right: 0;
    transform: rotate(-1deg);
    margin-bottom: 24px;
}

.modal-title {
    font-family: var(--font-title);
    font-size: 48px;
    line-height: 135%;
    text-transform: uppercase;
    margin: 0;
}

.modal-text {
    font-size: 16px;
}

.modal-text p:last-child,
.modal-text ul:last-child,
.modal-text ol:last-child {
    margin-bottom: 0;
}

.modal-text ul li,
.modal-text ol li {
    margin-bottom: 8px;
}

.modal-text ul li:last-child,
.modal-text ol li:last-child {
    margin-bottom: 0;
}

@media (min-width: 992px) {

    .modal {
        --bs-modal-border-radius: 30px;
    }

    .modal .btn-close {
        top: 18px;
        right: 18px;
        width: 48px;
        height: 48px;
    }

    .modal-body {
        padding: 24px 36px;
    }

    .modal-headline {
        margin-right: 55px;
    }

    .modal-title {
        font-size: 60px;
    }

    .modal-text {
        font-size: 16px;
    }
}

/* --------------------- modal-gifts --------------------- */

.modal-gifts .modal-title span {
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background: #685BC7;
}

.modal-gifts .modal-text {
    font-size: 12px;
}

.modal-gifts .modal-text p {
    margin-bottom: 4px;
}

.modal-gifts .modal-text b {
    font-size: 14px;
}

.modal-gifts .cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-top: 13px;
}

.card-modal-gift {
    --bs-card-spacer-y: 6px;
    --bs-card-spacer-x: 6px;
    --bs-card-border-color: #D8D8D8;
    --bs-card-border-radius: 6px;
    position: relative;
    height: 120px;
}

.card-modal-gift .card-text {
    font-family: 'Stolzl', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%;
    letter-spacing: -0.18px;
}

.card-modal-gift .card-text p:last-child {
    margin-bottom: 0;
}

.card-modal-gift .card-image {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100%;
}

.card-modal-gift:nth-child(1) .card-text,
.card-modal-gift:nth-child(2) .card-text,
.card-modal-gift:nth-child(4) .card-text {
    max-width: 100px;
}

.card-modal-gift:nth-child(1) .card-image,
.card-modal-gift:nth-child(2) .card-image,
.card-modal-gift:nth-child(4) .card-image {
    right: 6px;
    bottom: 9px;
    max-width: 27px;
}

.card-modal-gift:nth-child(3) .card-text {
    max-width: 272px;
}

.card-modal-gift:nth-child(3) .card-image {
    right: 5px;
    bottom: 1px;
    max-width: 77px;
}

.card-modal-gift:nth-child(5) .card-text {
    max-width: 232px;
}

.card-modal-gift:nth-child(5) .card-image {
    right: 0;
    bottom: 0;
    max-width: 78px;
}

.card-modal-gift:nth-child(6) .card-text {
    max-width: 289px;
}

.card-modal-gift:nth-child(6) .card-image {
    right: 0;
    bottom: 0;
    max-width: 73px;
}

@media (min-width: 992px) {

    .modal-gifts {
        --bs-modal-width: 730px;
    }

    .modal-gifts .modal-text {
        font-size: 18px;
    }

    .modal-gifts .modal-text p {
        margin-bottom: 10px;
    }

    .modal-gifts .modal-text b {
        font-size: 20px;
    }

    .modal-gifts .cards-grid {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        margin-top: 28px;
    }

    .card-modal-gift {
        --bs-card-spacer-y: 20px;
        --bs-card-spacer-x: 20px;
        --bs-card-border-radius: 22px;
        height: 248px;
    }

    .card-modal-gift .card-text {
        font-size: 18px;
    }

    .card-modal-gift .card-image {
        max-width: 100%;
    }

    .card-modal-gift:nth-child(1) .card-text,
    .card-modal-gift:nth-child(2) .card-text,
    .card-modal-gift:nth-child(4) .card-text {
        max-width: 196px;
    }

    .card-modal-gift:nth-child(1) .card-image,
    .card-modal-gift:nth-child(2) .card-image,
    .card-modal-gift:nth-child(4) .card-image {
        right: 38px;
        bottom: 20px;
        max-width: 56px;
    }

    .card-modal-gift:nth-child(3) .card-image {
        right: 54px;
        bottom: 15px;
        max-width: 178px;
    }

    .card-modal-gift:nth-child(5) .card-image {
        max-width: 190px;
    }

    .card-modal-gift:nth-child(6) .card-image {
        max-width: 181px;
    }
}

/* --------------------- modal-dates --------------------- */

.modal-dates .modal-body {
    position: relative;
}

.modal-dates .modal-body::after {
    content: '';
    position: absolute;
    bottom: 55px;
    right: -40px;
    display: block;
    width: 143px;
    height: 143px;
    background-image: url("data:image/svg+xml,%3Csvg width='279' height='279' viewBox='0 0 279 279' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M277.999 115.039C279.851 108.016 275.736 100.552 268.93 98.6166C267.932 98.3304 264.022 98.0218 260.239 97.925C230.312 97.1031 201.934 88.0177 177.668 71.5155C154.979 56.1047 137.872 36.5257 125.623 11.9252C122.218 5.13091 121.113 3.64176 118.104 1.98703C111.806 -1.50059 103.949 0.477031 100.043 6.54149C98.2637 9.33528 98.0717 10.3912 97.9064 17.9219C97.4186 39.952 92.7294 60.0044 83.2573 80.5013C79.7723 88.0994 71.172 102.083 65.763 109.066C51.0244 127.954 33.4485 142.243 11.7302 153.02C3.34858 157.194 1.20184 159.535 0.504992 165.157C-0.0536252 169.601 1.48968 173.9 4.78724 177.091C7.41795 179.683 10.1529 180.465 16.6848 180.567C41.442 180.932 64.0248 186.632 86.4985 198.197C92.0053 201.006 104.409 209.037 109.761 213.187C127.992 227.504 142.609 245.367 152.883 266.004C156.288 272.798 156.469 273.131 158.326 274.881C163.638 280.053 173.489 279.128 178.099 272.988C180.107 270.384 180.804 267.643 180.835 262.382C181.088 224.669 195.321 188.397 221.002 159.942C233.38 146.27 249.168 134.377 266.558 125.73C269.965 124.017 273.378 122.089 274.121 121.471C275.937 119.923 277.338 117.586 277.999 115.039Z' fill='%23685BC7'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.modal-dates .modal-title span {
    padding: 10px;
    border-radius: 5px;
    background: #C6F45C;
}

.modal-dates .modal-text b {
    display: block;
}

@media (min-width: 992px) {

    .modal-dates {
        --bs-modal-width: 600px;
    }

    .modal-dates .modal-body::after {
        width: 173px;
        height: 173px;
        bottom: 7px;
        right: -40px;
    }

    .modal-dates .modal-text b {
        display: inline;
    }
}

/* --------------------- modal-thanks --------------------- */

.modal-thanks .modal-title span {
    padding: 10px;
    border-radius: 5px;
    background: #C6F45C;
}

@media (min-width: 992px) {

    .modal-thanks {
        --bs-modal-width: 600px;
    }
}

/* --------------------- SECTIONS --------------------- */

main {
    min-height: 100vh;
}

.section-title {
    color: #000;
    font-family: var(--font-title);
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 50px;
}

@media (min-width: 992px) {

    .section-title {
        font-size: 90px;
    }
}

@media (min-width: 1200px) {

    .section .container {
        max-width: 1045px;
    }
}

/* --------------------- Section-hero --------------------- */

.section-hero {
    position: relative;
    overflow-x: clip;
    padding: 130px 0 0;
}

.section-hero .background-img {
    position: relative;
    bottom: 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 30px;
    padding: 0 10px;
}

.hero-label {
    position: absolute;
    top: 8px;
    left: 218px;
    max-width: 130px;
    font-size: 10px;
    padding: 6px 8px;
    color: #fff;
    background-color: var(--color-1);
    border-radius: 5px;
    transform: rotate(-2deg);
    margin-bottom: 0;
}

.hero-title {
    font-family: var(--font-title);
    font-size: 119px;
    line-height: 79.1%;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.hero-title .line-break {
    display: block;
}

.hero-text {
    max-width: 475px;
    font-size: 13px;
}

.hero-text p:last-child {
    margin-bottom: 0;
}

@media (min-width: 992px) {

    .section-hero {
        padding: 160px 0 90px;
    }

    .hero-content {
        gap: 45px;
        padding: 0;
    }

    .hero-label {
        position: static;
        max-width: 350px;
        font-size: 14px;
        margin-bottom: 8px;
    }

    .hero-title {
        font-size: 119px;
        line-height: 100%;
        margin-bottom: 19px;
    }

    .hero-title .line-break {
        display: inline;
    }

    .hero-text {
        font-size: 18px;
    }

    .section-hero .background-img {
        position: absolute;
        bottom: -310px;
        right: -205px;
        z-index: -1;
    }
}

/* --------------------- section-02 --------------------- */

.section-02 {
    position: relative;
    overflow-x: clip;
    padding: 0 0 40px;
}

.section-02 .section-title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 34px;
}

.section-02 .section-content {
    position: relative;
    padding: 20px 10px 30px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, .025);
    border-radius: 10px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}

.section-02 .background-img {
    position: absolute;
    top: 50%;
    left: -275px;
    transform: translateY(-50%);
}

.section-02 .cards-gift-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px 15px;
    margin-bottom: 25px;
}

.card-gift {
    --bs-card-spacer-y: 40px;
    --bs-card-spacer-x: 12px;
    --bs-card-border-color: #D9D9D9;
    --bs-card-border-radius: 10px;
}

.card-gift .card-label {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: rotate(-5.538deg) translateX(-50%);
    display: inline-block;
    padding: 6px 12px;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    background-color: var(--color-3);
}

.card-gift .card-body {
    padding-top: 0 !important;
}

.card-gift .card-title {
    font-family: 'Stolzl', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 139.1%;
    margin-bottom: 10px;
}

.card-gift .card-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.1%;
}

.card-gift .card-text p:last-child {
    margin-bottom: 0;
}

@media (min-width: 992px) {

    .section-02 .section-title {
        font-size: 83px;
        margin-bottom: 50px;
    }

    .section-02 .section-content {
        border-radius: 30px;
        padding: 40px;
    }

    .section-02 .background-img {
        top: 35px;
        transform: none;
    }

    .section-02 .cards-gift-grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px 15px;
    }
}

/* --------------------- section-03 --------------------- */

.section-03 {
    position: relative;
    overflow-x: clip;
    padding: 40px 0 50px;
}

.section-03 .section-title {
    text-align: center;
    margin-bottom: 15px;
}

.section-03 .section-content {
    position: relative;
}

.section-03 .background-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    right: -230px;
}

.section-03 .cards-step-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px 13px;
    justify-content: center;
    margin-bottom: 44px;
}

.section-03 .cards-step-flex > * {
    max-width: 100%;
    width: 100%;
    flex: 1 1 auto;
}

@media (min-width: 992px) {

    .section-03 {
        padding: 40px 0 70px;
    }

    .section-03 .container {
        max-width: 960px;
    }

    .section-03 .section-title {
        margin-bottom: 20px;
    }

    .section-03 .background-img {
        top: 40px;
        transform: none;
    }

    .section-03 .cards-step-flex > * {
        max-width: 303px;
    }
}

/* --------------------- section-04 --------------------- */

.section-04 {
    position: relative;
    overflow-x: clip;
    padding: 30px 0;
    background-color: var(--color-1);
}

.section-04 .section-content {
    position: relative;
    max-width: 606px;
    padding: 22px 30px;
    border-radius: 30px;
    background-color: #fff;
}

.section-04 .section-title {
    margin-bottom: 20px;
}

.section-04 .section-subtitle {
    font-family: 'Stolzl', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 139.1%;
    margin-bottom: 16px;
}

.section-04 .section-text {
    max-width: 501px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.1%;
    margin-bottom: 32px;
}

.section-04 .section-text ul li {
    margin-bottom: 8px;
}

.section-04 .background-img {
    position: relative;
    bottom: -30px;
}

@media (min-width: 992px) {

    .section-04 {
        padding: 60px 0;
    }

    .section-04-content {
        padding: 30px 40px 50px;
    }

    .section-04 .background-img {
        position: absolute;
        bottom: -60px;
        right: -360px;
    }
}

@media (min-width: 1200px) {

    .section-04 .background-img {
        right: -260px;
    }
}

/* --------------------- section-05 --------------------- */

.section-05 {
    position: relative;
    overflow-x: clip;
    padding: 30px 0 12px;
}

.section-05 .section-title {
    margin-bottom: 20px;
}

.section-05 .section-text {
    max-width: 195px;
    display: flex;
    gap: 13px;
    font-family: 'Stolzl', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.section-05 .section-form {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-2);
    margin-top: 140px;
}

.section-05 .section-form .form-check {
    max-width: 235px;
}

.section-05 .section-form::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -15px;
    right: -50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='244' height='258' viewBox='0 0 244 258' fill='none'%3E%3Cpath d='M193.564 68.9862C182.166 66.4914 170.191 70.1564 157.698 79.9728C151.611 84.7284 144.334 92.349 140.062 98.4141C139.956 98.5707 139.414 96.887 138.871 94.6279C135.282 79.6518 128.849 65.4085 121.265 55.7402C117.081 50.3935 111.243 45.3236 105.924 42.4224C102.725 40.657 96.669 38.6626 93.0712 38.1894C81.5534 36.6404 67.5372 40.0984 59.3996 46.505C55.7657 49.3863 53.472 52.0247 51.1181 56.0939C49.3279 59.117 47.2537 65.2489 46.6685 69.1889C43.5006 90.2054 50.541 118.744 70.3323 165.303C74.493 175.049 78.204 183.414 87.9154 204.841C92.1487 214.199 96.075 222.909 96.6477 224.165L97.6441 226.464L99.377 225.612C101.907 224.419 113.525 217.927 119.756 214.232C154.269 193.877 182.394 172.787 200.323 153.868C224.063 128.788 230.866 107.135 220.47 89.5339C214.655 79.6543 203.529 71.1733 193.564 68.9862Z' fill='%23FF6720'/%3E%3Cpath d='M88.1822 143.08C87.1382 143.488 86.385 142.916 85.8463 141.538L78.6302 123.082C78.0915 121.704 78.1226 120.921 79.2918 120.464C80.461 120.007 81.1561 120.554 81.6785 121.89L83.8172 127.36L88.4523 125.548L86.2809 119.994C85.0892 116.946 83.1658 113.75 77.9879 115.775L76.9022 116.199C72.643 117.864 72.4568 121.451 73.6975 124.625L81.1095 143.583C82.3339 146.715 84.7166 149.731 89.4769 147.869L90.5209 147.461C95.0724 145.682 94.8357 141.875 93.5296 138.534L90.7216 131.352L86.0865 133.164L88.9109 140.388C89.4007 141.641 89.3096 142.639 88.1822 143.08Z' fill='white'/%3E%3Cpath d='M104.302 142.073C108.478 140.441 109.154 136.999 107.44 132.614L97.9383 108.312L93.1362 110.189L102.752 134.784C103.291 136.162 103.2 137.161 102.072 137.601C101.028 138.01 100.226 137.312 99.7038 135.976L90.0879 111.381L85.2858 113.258L94.7874 137.561C96.5343 142.029 99.2912 144.032 103.467 142.4L104.302 142.073Z' fill='white'/%3E%3Cpath d='M105.969 110.034L107.221 109.544C108.641 108.989 109.195 109.543 109.717 110.879L111.415 115.222C111.954 116.6 111.863 117.599 110.568 118.105L109.315 118.594L105.969 110.034ZM111.046 123.021L112.257 122.547C113.76 121.96 114.239 122.446 114.778 123.824L118.435 133.178C119.088 134.848 119.551 135.293 119.89 135.545L124.567 133.717L124.485 133.508C124.097 133.131 123.618 132.644 123.128 131.391L118.867 120.492C118.051 118.405 116.722 117.961 115.499 117.91C116.187 117.208 117.006 115.732 115.994 113.143L113.839 107.631C112.484 104.165 110.374 103.449 107.243 104.674L99.601 107.662L111.747 138.729L116.466 136.884L111.046 123.021Z' fill='white'/%3E%3Cpath d='M113.588 102.193L125.735 133.261L136.216 129.163L134.338 124.361L128.576 126.614L118.307 100.348L113.588 102.193Z' fill='white'/%3E%3Cpath d='M98.0827 186.627L102.801 184.782L97.4627 171.127L102.223 169.266L100.378 164.547L95.6179 166.408L92.418 158.224L98.4311 155.873L96.6679 151.363L85.9363 155.559L98.0827 186.627Z' fill='white'/%3E%3Cpath d='M104.252 153.26L105.505 152.771C106.924 152.215 107.478 152.769 108 154.106L109.698 158.448C110.237 159.826 110.146 160.825 108.851 161.331L107.599 161.821L104.252 153.26ZM109.329 166.247L110.54 165.773C112.043 165.186 112.523 165.672 113.061 167.05L116.718 176.404C117.371 178.074 117.834 178.519 118.174 178.772L122.85 176.943L122.769 176.734C122.38 176.357 121.901 175.87 121.411 174.617L117.15 163.719C116.334 161.631 115.005 161.187 113.782 161.136C114.47 160.434 115.289 158.958 114.277 156.369L112.122 150.857C110.767 147.391 108.658 146.676 105.526 147.9L97.8844 150.888L110.031 181.955L114.749 180.11L109.329 166.247Z' fill='white'/%3E%3Cpath d='M116.59 143.574L111.871 145.419L124.018 176.487L128.737 174.642L116.59 143.574Z' fill='white'/%3E%3Cpath d='M118.355 142.884L130.502 173.952L141.484 169.658L139.639 164.939L133.376 167.388L129.865 158.41L134.584 156.566L132.739 151.847L128.021 153.692L124.837 145.549L130.85 143.198L129.087 138.688L118.355 142.884Z' fill='white'/%3E%3Cpath d='M130.548 138.117L142.695 169.185L146.954 167.519L139.966 149.647L151.464 165.756L155.305 164.254L143.159 133.187L138.858 134.868L145.372 151.529L134.807 136.452L130.548 138.117Z' fill='white'/%3E%3Cpath d='M157.049 163.573L164.273 160.748C168.156 159.23 168.645 156.295 167.16 152.495L159.764 133.579C158.327 129.904 156.177 128.097 152.126 129.681L144.902 132.505L157.049 163.573ZM151.27 134.878L152.606 134.355C153.775 133.898 154.479 134.345 155.181 136.141L162.022 153.637C162.675 155.307 162.551 156.222 161.132 156.777L160.004 157.218L151.27 134.878Z' fill='white'/%3E%3Cpath d='M159.093 126.957L171.24 158.024L181.721 153.927L179.843 149.124L174.081 151.377L163.812 125.112L159.093 126.957Z' fill='white'/%3E%3Cpath d='M183.424 153.26L188.143 151.416L183.098 138.513L180.13 118.732L175.871 120.397L178.306 132.78L171.612 122.062L167.019 123.858L178.363 140.316L183.424 153.26Z' fill='white'/%3E%3Cpath d='M145.407 73.9916C147.131 73.0333 147.819 70.8232 146.918 69.1258C146.787 68.8766 146.112 68.0526 145.419 67.2933C139.95 61.2761 136.392 54.008 135.06 46.1503C133.811 38.8068 134.429 31.7727 136.944 24.7458C137.634 22.8007 137.718 22.3041 137.476 21.4034C136.975 19.5136 135.11 18.3465 133.187 18.7221C132.305 18.899 132.062 19.06 130.556 20.4442C126.148 24.4926 121.338 27.346 115.541 29.346C113.397 30.0925 109.04 31.0381 106.655 31.2921C100.182 31.9578 94.0771 31.2024 87.8805 28.9752C85.4863 28.1184 84.6237 28.1383 83.3915 29.0592C82.4158 29.7857 81.8639 30.8968 81.8591 32.143C81.8462 33.1459 82.2075 33.8287 83.4161 35.1275C88.0016 40.046 91.1329 45.5421 93.0948 52.1199C93.5803 53.7271 94.3403 57.6677 94.534 59.4967C95.1587 65.761 94.4092 71.9846 92.2989 77.879C91.6085 79.8242 91.5773 79.9223 91.5837 80.6151C91.5697 82.6287 93.6041 84.3845 95.674 84.1325C96.5619 84.036 97.2301 83.657 98.2663 82.6734C105.702 75.629 115.484 71.5943 125.89 71.2726C130.896 71.1256 136.196 71.9813 141.161 73.7616C142.137 74.1066 143.157 74.4124 143.418 74.4418C144.063 74.5063 144.784 74.3412 145.407 73.9916Z' fill='white'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section-05 .section-form::after {
    content: '';
    display: block;
    width: 503px;
    height: 473px;
    position: absolute;
    top: -300px;
    right: -240px;
    bottom: auto;
    left: auto;
    background-image: url(../img/section-05-form-after.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

@media (min-width: 992px) {

    .section-05 {
        padding: 65px 0 80px;
    }

    .section-05 .section-title {
        margin-bottom: 30px;
    }

    .section-05 .section-text {
        max-width: 232px;
        font-size: 20px;
    }

    .section-05 .section-form {
        padding: 30px;
        margin-top: 0;
    }

    .section-05 .section-form .form-check {
        max-width: 100%;
    }

    .section-05 .section-form::before {
        width: 223px;
        height: 223px;
        bottom: -70px;
        right: -70px;
    }

    .section-05 .section-form::after {
        top: auto;
        right: auto;
        bottom: -50px;
        left: -350px;
    }
}

/* --------------------- section-06 --------------------- */

.section-06 {
    padding: 12px 0 15px;
}

.section-06 .section-title {
    text-align: center;
    margin-bottom: 20px;
}

.section-06 .section-title span {
    position: relative;
}

.marketplace-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 10px 8px;
}

@media (min-width: 992px) {

    .section-06 {
        padding: 80px 0 60px;
    }

    .section-06 .section-title {
        margin-bottom: 30px;
    }

    .section-06 .section-title span::before {
        content: '';
        display: block;
        width: 105px;
        height: 32px;
        position: absolute;
        top: 30px;
        left: -115px;
        transform: rotate(-15deg) scale(-1, 1);
        background-image: url("data:image/svg+xml,%3Csvg width='105' height='32' viewBox='0 0 105 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.5 2.99965L44.737 4.48081L44.5 2.99965ZM101.854 24.4928C102.679 24.5734 103.412 23.9703 103.493 23.1458L104.806 9.70976C104.886 8.88526 104.283 8.15156 103.459 8.071C102.634 7.99044 101.9 8.59352 101.82 9.41803L100.653 21.3612L88.7099 20.1942C87.8854 20.1137 87.1517 20.7168 87.0711 21.5413C86.9906 22.3658 87.5937 23.0994 88.4182 23.18L101.854 24.4928ZM2.00004 30.9999C3.46274 31.3323 3.4625 31.3334 3.46228 31.3343C3.46224 31.3345 3.46204 31.3354 3.46194 31.3358C3.46175 31.3366 3.46164 31.3371 3.4616 31.3373C3.46152 31.3376 3.46175 31.3367 3.46229 31.3344C3.46338 31.3299 3.46574 31.3201 3.46948 31.3054C3.47696 31.2759 3.48993 31.2264 3.50921 31.1579C3.5478 31.0208 3.61162 30.8081 3.70726 30.5287C3.89855 29.97 4.21689 29.1454 4.71467 28.1277C5.7098 26.0933 7.42267 23.2855 10.275 20.283C15.9627 14.296 26.2772 7.43456 44.737 4.48081L44.263 1.51849C25.2229 4.56509 14.2873 11.7038 8.10002 18.2168C5.01488 21.4643 3.13401 24.5316 2.01977 26.8096C1.46286 27.9482 1.09761 28.8892 0.868984 29.557C0.75466 29.891 0.674445 30.1567 0.621473 30.3449C0.594986 30.439 0.575303 30.5137 0.561568 30.5678C0.5547 30.5949 0.549318 30.6168 0.545316 30.6335C0.543314 30.6418 0.541658 30.6488 0.540333 30.6545C0.53967 30.6573 0.53909 30.6598 0.538592 30.662C0.538343 30.6631 0.538028 30.6645 0.537904 30.665C0.537611 30.6663 0.537337 30.6675 2.00004 30.9999ZM44.737 4.48081C62.4633 1.64445 76.4899 6.5243 86.1034 12.1189C90.9142 14.9185 94.615 17.8952 97.1083 20.1671C98.3543 21.3024 99.2967 22.2598 99.9234 22.9283C100.237 23.2624 100.471 23.5241 100.624 23.6995C100.701 23.7872 100.758 23.8533 100.794 23.896C100.812 23.9174 100.825 23.9329 100.833 23.9424C100.837 23.9471 100.84 23.9503 100.841 23.952C100.842 23.9529 100.842 23.9533 100.842 23.9534C100.842 23.9534 100.842 23.9532 100.842 23.9532C100.842 23.9528 100.841 23.9524 102 22.9999C103.159 22.0474 103.158 22.0468 103.158 22.046C103.157 22.0457 103.157 22.0448 103.156 22.0441C103.155 22.0426 103.153 22.0407 103.151 22.0384C103.148 22.0338 103.143 22.0277 103.136 22.0201C103.123 22.0048 103.105 21.9834 103.082 21.9561C103.036 21.9015 102.969 21.8234 102.882 21.7235C102.707 21.5237 102.45 21.2366 102.112 20.8765C101.437 20.1563 100.439 19.1429 99.1289 17.9496C96.5109 15.5642 92.6406 12.4522 87.6123 9.52596C77.5476 3.6688 62.8243 -1.45148 44.263 1.51849L44.737 4.48081Z' fill='black'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }

    .section-06 .section-title span::after {
        content: '';
        display: block;
        width: 105px;
        height: 32px;
        position: absolute;
        top: 30px;
        right: -115px;
        transform: rotate(15deg);
        background-image: url("data:image/svg+xml,%3Csvg width='105' height='32' viewBox='0 0 105 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.5 2.99965L44.737 4.48081L44.5 2.99965ZM101.854 24.4928C102.679 24.5734 103.412 23.9703 103.493 23.1458L104.806 9.70976C104.886 8.88526 104.283 8.15156 103.459 8.071C102.634 7.99044 101.9 8.59352 101.82 9.41803L100.653 21.3612L88.7099 20.1942C87.8854 20.1137 87.1517 20.7168 87.0711 21.5413C86.9906 22.3658 87.5937 23.0994 88.4182 23.18L101.854 24.4928ZM2.00004 30.9999C3.46274 31.3323 3.4625 31.3334 3.46228 31.3343C3.46224 31.3345 3.46204 31.3354 3.46194 31.3358C3.46175 31.3366 3.46164 31.3371 3.4616 31.3373C3.46152 31.3376 3.46175 31.3367 3.46229 31.3344C3.46338 31.3299 3.46574 31.3201 3.46948 31.3054C3.47696 31.2759 3.48993 31.2264 3.50921 31.1579C3.5478 31.0208 3.61162 30.8081 3.70726 30.5287C3.89855 29.97 4.21689 29.1454 4.71467 28.1277C5.7098 26.0933 7.42267 23.2855 10.275 20.283C15.9627 14.296 26.2772 7.43456 44.737 4.48081L44.263 1.51849C25.2229 4.56509 14.2873 11.7038 8.10002 18.2168C5.01488 21.4643 3.13401 24.5316 2.01977 26.8096C1.46286 27.9482 1.09761 28.8892 0.868984 29.557C0.75466 29.891 0.674445 30.1567 0.621473 30.3449C0.594986 30.439 0.575303 30.5137 0.561568 30.5678C0.5547 30.5949 0.549318 30.6168 0.545316 30.6335C0.543314 30.6418 0.541658 30.6488 0.540333 30.6545C0.53967 30.6573 0.53909 30.6598 0.538592 30.662C0.538343 30.6631 0.538028 30.6645 0.537904 30.665C0.537611 30.6663 0.537337 30.6675 2.00004 30.9999ZM44.737 4.48081C62.4633 1.64445 76.4899 6.5243 86.1034 12.1189C90.9142 14.9185 94.615 17.8952 97.1083 20.1671C98.3543 21.3024 99.2967 22.2598 99.9234 22.9283C100.237 23.2624 100.471 23.5241 100.624 23.6995C100.701 23.7872 100.758 23.8533 100.794 23.896C100.812 23.9174 100.825 23.9329 100.833 23.9424C100.837 23.9471 100.84 23.9503 100.841 23.952C100.842 23.9529 100.842 23.9533 100.842 23.9534C100.842 23.9534 100.842 23.9532 100.842 23.9532C100.842 23.9528 100.841 23.9524 102 22.9999C103.159 22.0474 103.158 22.0468 103.158 22.046C103.157 22.0457 103.157 22.0448 103.156 22.0441C103.155 22.0426 103.153 22.0407 103.151 22.0384C103.148 22.0338 103.143 22.0277 103.136 22.0201C103.123 22.0048 103.105 21.9834 103.082 21.9561C103.036 21.9015 102.969 21.8234 102.882 21.7235C102.707 21.5237 102.45 21.2366 102.112 20.8765C101.437 20.1563 100.439 19.1429 99.1289 17.9496C96.5109 15.5642 92.6406 12.4522 87.6123 9.52596C77.5476 3.6688 62.8243 -1.45148 44.263 1.51849L44.737 4.48081Z' fill='black'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }

    .marketplace-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* --------------------- section-07 --------------------- */

.section-07 {
    position: relative;
    padding: 15px 15px 26px;
}

.section-07 .section-title {
    text-align: center;
    margin-bottom: 20px;
}

.section-07 .accordion-item {
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #FBFBFB;
    overflow: hidden;
}

.section-07 .accordion-item:last-child {
    margin-bottom: 0;
}

.section-07 .accordion-button {
    padding: 12px 16px;
    font-family: 'Stolzl', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: none;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.section-07 .accordion-item:first-of-type .accordion-button {
    border-radius: 10px;
}

.section-07 .accordion-button:not(.collapsed) {
    color: #000;
    background-color: #FBFBFB;
}

.section-07 .accordion-body {
    font-size: 12px;
    padding: 0 16px 12px;
}

.section-07 .accordion-body p:last-child {
    margin-bottom: 0;
}

.section-07 .accordion-button::after {
    content: "";
    display: block;
    width: 44px;
    height: 44px;
    margin: 0;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='46' viewBox='0 0 45 46' fill='none'%3E%3Ccircle cx='22.5' cy='22.5547' r='22.5' fill='%23685BC7'/%3E%3Cline x1='22.5' y1='32' x2='22.5' y2='14' stroke='white'/%3E%3Cline x1='14' y1='22.5' x2='32' y2='22.5' stroke='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 44px;
}

.section-07 .accordion-button:not(.collapsed)::after {
    transform: rotate(135deg);
}

@media (min-width: 992px) {

    .section-07 {
        padding: 60px 15px 97px;
    }

    .section-07 .container {
        max-width: 925px;
    }

    .section-07 .section-title {
        margin-bottom: 30px;
    }

    .section-07 .accordion-button {
        padding: 21px 26px;
        font-size: 18px;
    }

    .section-07 .accordion-body {
        padding: 0 26px 30px;
    }
}