/*
Theme: Curl Landing
Author: STARTSITE - Andrey Galkin
Version: 1.1
*/


/* IMPORT FILES */

@import url(../fonts/DrukCyr-Medium/style.css);
@import url(../fonts/Stolzl/stylesheet.css);


/* ROOT */

:root {
    --color-1: #685BC7;
    --color-2: #FBE122;
    --color-3: #FF0000;
    --color-4: #C6F45C;
    --font-main: 'Stolzl', sans-serif;
    --font-title: 'Druk Cyr', sans-serif;
}

/* BASE STYLES */

html {
    scroll-behavior: smooth;
}

/* TYPOGRAPHY */

/* LINKS */

a {
    text-decoration: none;
}

/* FORMS */

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

:focus,
:active {
    outline: none;
}

textarea {
    overflow: auto;
}

.form-control {
    padding: 17px 17px 19px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

.form-control::placeholder {
    color: #000;
    opacity: .2;
}

.form-check-label {
    font-size: 12px;
}

.form-check-input {
    width: 18px;
    height: 18px;
    border: 3px solid transparent;
}

.form-check-input[type=checkbox] {
    border-radius: 50%;
}

.form-check-input:checked {
    background-color: #000;
    border-color: #fff;
}

.form-check-input:checked[type=checkbox] {
    background-image: none;
}

/* BUTTONS */

.btn {
    color: #000;
    padding: 21px 40px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0;
    border: 1px solid;
    border-color: transparent;
    background-color: #fff;
    transition: all 0.3s ease;
}

.btn-1 {
    position: relative;
    font-size: 16px;
    padding: 21px 40px;
    color: #000;
    border-color: #000;
    background-color: #fff;
}

.btn-2 {
    color: #fff;
    border-color: var(--color-1);
    background-color: var(--color-1);
    border-radius: 10px;
    font-weight: 400;
}

.btn-2:hover {
    color: #fff;
    border-color: var(--color-1);
    background-color: var(--color-1);
}

.btn-big {
    font-size: 18px;
    padding: 14px 25px;
}

@media (min-width: 992px) {

    .btn-1 {
        padding: 21px 80px;
        font-size: 18px;
    }

    .btn-2 {
        font-size: 18px;
    }

}

/* CUSTOM ICONS */

.svg {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.svg-social-icon-vk {
    width: 29px;
    height: 29px;
    background-image: url(../img/social-vk.svg);
}

.svg-social-icon-dzen {
    width: 29px;
    height: 29px;
    background-image: url(../img/social-dzen.svg);
}

.svg-social-icon-youtube {
    width: 29px;
    height: 29px;
    background-image: url(../img/social-youtube.svg);
}

.svg-social-icon-vk-white {
    width: 29px;
    height: 29px;
    background-image: url(../img/social-vk-white.svg);
}

.svg-social-icon-dzen-white {
    width: 29px;
    height: 29px;
    background-image: url(../img/social-dzen-white.svg);
}

.svg-social-icon-youtube-white {
    width: 29px;
    height: 29px;
    background-image: url(../img/social-youtube-white.svg);
}

.svg-btn-arrow {
    width: 27px;
    height: 7px;
    background-image: url(../img/btn-arrow.svg);
}

.svg-btn-arrow-white {
    width: 27px;
    height: 7px;
    background-image: url(../img/btn-arrow-white.svg);
}

.svg-icon-wa-white {
    width: 18px;
    height: 18px;
    background-image: url(../img/icon-wa-white.svg);
}

.svg-icon-telegram-white {
    width: 18px;
    height: 18px;
    background-image: url(../img/icon-telegram-white.svg);
}

/* HEADER */

.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 28px 0;
    z-index: 100;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.site-brand {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.site-title {
    color: #000;
    font-family: Stolzl;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.1%;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 12px;
}

@media (min-width: 992px) {

    .site-brand {
        flex-direction: row;
        gap: 18px;
    }
}

/* SECTIONS */

main {
    min-height: 100vh;
}

.section-title {
    color: #000;
    font-family: var(--font-title);
    line-height: 1;
    text-transform: uppercase;
}

.bg-img-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100%;
    max-width: 1200px;
    z-index: -1;
}

/* Section-hero */

.hero-label {
    position: absolute;
    top: 27px;
    left: 182px;
    width: 130px;
    font-size: 10px;
    padding: 6px 8px;
    color: #fff;
    background-color: var(--color-1);
    border-radius: 5px;
    transform: rotate(-3.12deg);
}

.hero-title {
    font-family: var(--font-title);
    font-size: 95px;
    line-height: 1;
    text-transform: uppercase;
}

.hero-title .line-break {
    display: block;
}

.section-hero {
    position: relative;
    padding: 110px 0 0;
    overflow: hidden;
}

.section-hero__bg-img {
    position: absolute;
    bottom: 0;
    right: -95px;
}

.section-hero__mobile-img {
    position: relative;
    bottom: -15px;
    right: -30px;
}

.block-hero {
    display: flex;
    align-items: center;
    height: 680px;
    padding: 15px 5px;
}

.section-hero .section-title {
    font-size: 48px;
    margin-bottom: 40px;
}

.hero-text {
    max-width: 80%;
    font-size: 13px;
}

.hero-text p:last-child {
    margin-bottom: 0;
}

@media (min-width: 576px) {

    .hero-title {
        font-size: 119px;
    }

    .hero-label {
        position: static;
        width: 300px;
        font-size: 12px;
    }
}

@media (min-width: 992px) {

    .section-hero .section-title {
        font-size: 90px;
    }

    .hero-title .line-break {
        display: inline;
    }

    .hero-text {
        font-size: 18px;
    }

    .section-hero {
        padding: 160px 0 90px;
    }

    .section-hero__bg-img {
        right: -85px;
    }
}

/* section-02 */

.section-02 {
    position: relative;
    overflow: hidden;
}

.border-box {
    position: relative;
    padding: 40px 25px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, .025);
    border-radius: 30px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    z-index: 1;
}

.section-02__bg-img {
    position: absolute;
    top: 50%;
    left: -200px;
    transform: translate(0, -50%);
}

.card {
    border-radius: 10px;
}

.card-img,
.card-img-bottom,
.card-img-top {
    border-radius: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container>* {
    max-width: 303px;
    width: 100%;
    margin: 0 15px 30px 0;
}

.card-body {
    padding: 0 22px 0;
}

.card-label {
    position: absolute;
    top: -20px;
    left: 50%;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 7px 12px;
    font-weight: 300;
    border-radius: 10px;
    background-color: var(--color-3);
    transform: rotate(-5.54deg) translate(-50%, 0);
}

.card-title {
    font-size: 18px;
    font-weight: 700;
}

@media (min-width: 992px) {

    .border-box {
        padding: 40px;
    }
}

/* section-03 */

.section-03 {
    position: relative;
    overflow: hidden;
}

.padding-box {
    position: relative;
    padding: 40px 20px;
}

.section-03__bg-img {
    position: absolute;
    top: 450px;
    right: -200px;
    transform: translate(0, -50%);
    z-index: -1;
}

.section-03 .card .card-body {
    padding: 38px 22px 18px;
}

.card-step {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    width: 42px;
    height: 42px;
    color: #fff;
    text-align: center;
    font-family: var(--font-title);
    font-size: 30px;
    line-height: 42px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--color-1);
}

@media (min-width: 992px) {

    .padding-box {
        padding: 40px;
    }
}

/* section-04 */

.section-04 {
    position: relative;
    padding: 55px 0 70px;
    overflow: hidden;
    background-color: var(--color-1);
    z-index: 1;
}

.section-04 .bg-img-container {
    max-width: 100%;
}

.section-04__bg-img {
    position: absolute;
    bottom: 0;
    right: -75px;
}

.section-04__mobile-img {
    position: relative;
    bottom: -50px;
    right: -70px;
}

.section-04__wrap {
    position: relative;
    padding: 30px 20px 50px;
    border-radius: 30px;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;
}

@media (min-width: 992px) {

    .section-04__wrap {
        padding: 30px 40px 50px;
    }
}

/* section-05 */

.section-05 {
    position: relative;
    padding: 50px 15px;
    overflow: hidden;
}

.section-05__wrap {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.section-05__wrap::before {
    content: '';
    display: inline-block;
    width: 200px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: -40px;
    background-image: url(../img/bg-section-05.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.section-05__wrap .section-title {
    max-width: 300px;
}

.section-05__text {
    position: relative;
    display: block;
    width: 220px;
    font-size: 15px;
    font-weight: 700;
    text-decoration: underline;
    padding-left: 48px;
    color: var(--color-1);
}

.section-05__text::before {
    content: '';
    display: inline-block;
    width: 33px;
    height: 33px;
    position: absolute;
    top: 1px;
    left: 0;
    background-image: url(../img/info.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section-05__form {
    position: relative;
    padding: 30px 30px 40px;
    border-radius: 10px;
    background-color: var(--color-2);
}

.section-05__form::before {
    content: '';
    display: inline-block;
    width: 150px;
    height: 160px;
    position: absolute;
    bottom: -30px;
    right: -30px;
    background-image: url(../img/section-05-form.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width: 992px) {

    /* .section-05__form::before {
        width: 240px;
        height: 250px;
        bottom: -62px;
        right: -54px;
    } */

    .section-05__wrap {
        min-height: 530px;
    }

    .section-05__form::before {
        width: 172px;
        height: 180px;
        bottom: -40px;
        right: -50px;
    }

    .section-05__wrap .section-title {
        max-width: unset;
    }

    .section-05__wrap::before {
        width: 300px;
        height: 350px;
        right: -15px;
    }

    .section-05__text {
        width: 260px;
        font-size: 20px;
    }
}

/* section-06 */

.section-06__arrow {
    position: relative;
}

.section-06 .section-title {
    padding-bottom: 0;
}

@media (min-width: 992px) {

    .section-06__arrow::before {
        content: '';
        display: block;
        width: 105px;
        height: 32px;
        position: absolute;
        top: 30px;
        left: -115px;
        transform: rotate(-15deg) scale(-1, 1);
        background-image: url(../img/section-06__arrow.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }

    .section-06__arrow::after {
        content: '';
        display: block;
        width: 105px;
        height: 32px;
        position: absolute;
        top: 30px;
        right: -115px;
        transform: rotate(15deg);
        background-image: url(../img/section-06__arrow.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
}

/* section-07 */

.section-07 {
    position: relative;
    padding: 0 15px 40px;
}

.section-07 .accordion-item {
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #FBFBFB;
    overflow: hidden;
}

.section-07 .accordion-button {
    padding: 21px 26px;
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 18px;
    border-radius: 10px;
}

.section-07 .accordion-item:first-of-type .accordion-button {
    border-radius: 10px;
}

.section-07 .accordion-button:not(.collapsed) {
    color: #000;
    background-color: #FBFBFB;
    box-shadow: none;
}

.section-07 .accordion-body {
    font-size: 12px;
    padding: 0 26px 30px;
}

.section-07 .accordion-button::after {
    width: 44px;
    height: 44px;
    background-image: url(../img/section-faq.svg);
    background-size: 44px;
}

.section-07 .accordion-button:not(.collapsed)::after {
    transform: rotate(135deg);
}

/* FOOTER */

footer {
    color: #fff;
    background-color: #000;
}

/* Modals */

.modal-content {
    border-radius: 30px;
    border: none;
}

.btn-close {
    position: absolute;
    top: 18px;
    right: 14px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.4);
    z-index: 1;
}

.modal-body {
    padding: 18px 20px 24px;
}

.modal-headline {
    display: inline-block;
    margin-right: 55px;
    padding: 5px 20px;
    border-radius: 5px;
    transform: rotate(-1deg);
}

.modal-headline h3 {
    font-size: 48px;
    margin: 0;
}

.modal-text {
    font-size: 14px;
}

.modal-item-text {
    font-size: 10px;
}

#modal-2 .modal-body::before {
    content: '';
    display: inline-block;
    width: 93px;
    height: 93px;
    position: absolute;
    bottom: 60%;
    right: -30px;
    background-image: url(../img/bg-modal-02.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width: 992px) {

    .btn-close {
        width: 48px;
        height: 48px;
    }

    .modal-body {
        padding: 18px 40px 24px;
    }

    .modal-headline h3 {
        font-size: 60px;
    }

    .modal-text {
        font-size: 16px;
    }

    .modal-item-text {
        font-size: 12px;
    }

    #modal-2 .modal-body::before {
        width: 279px;
        height: 279px;
        bottom: 45px;
        right: -100px;
    }

    .modal-md {
        max-width: 600px;
    }
}

/* startsite-logo */

.startsite-studio {
    display: block;
    position: relative;
    width: 160px;
    padding: 10px 0 10px 46px;
    font-size: 10px;
    color: #ffffff;
}

.startsite-studio::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../img/startsite-logo1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}